{% extends "base.html" %}
{% block content %}Login{% endblock %}
{% block child %}

<body style="background-color:rgba(255,255,255,0.698);">
    <form action="#" method="post">
        <p>Name:</p>
        <p><input type="text" name="nm" /></p>
        <p>Mail:</p>
        <p><input type="text" name="email" placeholder="Enter Email" /></p>
        <p>password:</p>
        <p><input type="text" name="password" placeholder="Enter Password" /></p>
        <p><input type="submit" value="submit" /></p>


    </form>
</body>
{% endblock %}